.container-banner {
}

.container-main {
  width: 1000px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.container-footer {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #2EC4B6;
}

.container-footer > i{
  margin: 20px;
}

@media (max-width: 960px) {
  .container-banner {
    width: 700px;
  }
  .container-main {
    width: 700px;
  }
  .container-footer {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container-banner {
    width: 500px;
  }
  .container-main {
    width: 500px;
  }
  .container-footer {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container-banner {
    width: 300px;
  }
  .container-main {
    width: 300px;
  }
  .container-footer {
    width: 300px;
  }
}
